
body, html {
    background-color: #081020;
  }
    .square{
        background-color: #000;
        margin-bottom: 30px;
        &.one{
            width:100px;
            height:100px;
        }
        &.two{
            width:25vw;
            height:25vw;

        }
    }
